<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/index.css">
    <title>Document</title>
</head>

<body>
<section class="container">
    <div class="bg-image">
       <div class="bg-image-presentation">
       <img src="../../assets/img/arrow-back.svg" alt="">
        <p>Back</p>
       </div>
    </div>
    <div class="profile">
        <div class="profile-name-area">
            <div class="profile-name-area-top">
                <h1 class="main-heading">Steve Jobs</h1>
                <!-- <div class="more-icon-wrapper"> -->
                   <img src="../../assets/img/More ... icon.svg" alt="">
                <!-- </div> -->
            </div>
           
            <div class="follow-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><defs><style>.a,.b,.d{fill:none;}.a,.b{stroke:#462681;stroke-miterlimit:10;}.a{stroke-width:2px;}.c{stroke:none;}</style></defs><g class="a"><circle class="c" cx="10" cy="10" r="10"/><circle class="d" cx="10" cy="10" r="9"/></g><g transform="translate(4 4)"><g class="b" transform="translate(0 5)"><rect class="c" width="12" height="2" rx="1"/><rect class="d" x="0.5" y="0.5" width="11" height="1" rx="0.5"/></g><g class="b" transform="translate(7) rotate(90)"><rect class="c" width="12" height="2" rx="1"/><rect class="d" x="0.5" y="0.5" width="11" height="1" rx="0.5"/></g></g></svg>
                <p>FOLLOW</p>
            </div>
        </div>
        <div class="social-connections">
          <div class="connetion-wrapper">
            <div class="connection">
                <p>
                    <span>313</span>
                    <br>PATENTS
                </p>
            </div>
            <div class="connection">
                <p>
                    <span>1M 50k</span>
                    <br>FOLLOWERS
                </p>
            </div>
            <div class="connection">
                <p>
                    <span>361</span><br>FOLLOWING
                </p>
            </div>
          </div>
        </div>

        <div class="categories">
            <h2 class="categories-heading">CATEGORIES</h2>
            <div class="category">
                <h1>Electronic Devices</h1>
                <img src="../../assets/img/Arrow.svg" alt="">
            </div>
            <div class="category">
                <h1>Design</h1>
                <img src="../../assets/img/Arrow.svg" alt="">
            </div>
            <div class="category">
                <h1>Transportation</h1>
                <img src="../../assets/img/Arrow.svg" alt="">
            </div>
        </div>
    </div>

  
</section>
</body>

</html>